<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />       
</head>
<body>
  <div class="bg-[url('emblem.png')] bg-local bg-no-repeat bg-auto bg-center p-36">       
    <div class="text-center my-10">
        <h1 class="text-8xl">MY FAVORITE<br />GAME AWARD</h1>
        <h3 class="text-4xl my-4">推しゲーム大賞</h3>
        <% if user_signed_in? %>
          <%= render "logged_links" %>
        <% else %>
          <%= render "links" %>
        <% end %>   
    </div>
  </div>   
</body>