<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />       
</head>
<body>       
    <div>
      <div>
        <h1>MY FAVORITE GAME AWARD</h1>
        <h3>推しゲーム大賞</h3>
        <button onclick="location.href='#'">受賞作品を見に行く</button>
        <button onclick="location.href='#'">授賞者になる(新規登録)</button>     
      </div>
    </div>   
</body>