<head>
    <title><%= content_for(:title, "受賞作品一覧") %></title>
</head>
<body>
    <div>
      <h2 class="text-4xl text-center py-4">受賞作品一覧</h2>
      <% if @awards.present? %>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-10 mx-auto">
          <div class="flex flex-wrap -m-4">
            <%= render @awards %>
          </div>
        </div>
      </section>
      <% else %>
        <p class="text-center text-2xl">受賞作品はありません</p>
      <% end %>
    </div>
</body>